/* navbar */
.navbar-brand img
{
    width: 55%;
}

.navbar
{
    background-color: #191970;
}

.navbar-light .navbar-nav .nav-link
{
    color: white;
}

.nav-pills a {
    color:#fff;
}

/* FOOTER */
.footer
{
    background-color: #191970;
}

.footer h6
{
    color: darkgoldenrod;
}
.bod
{
    padding-top: 5%;
}

.footer p
{
    color: white;
}

.copyright
{
    color: white;
}