/* NAVBAR */
.navbar-brand img
{
    width: 55%;
}
.navbar
{
    background-color: #191970;
}

.navbar-light .navbar-nav .nav-link
{
    color: white;
}
/* FOOTER */
.footer
{
    background-color: #191970;
}

.footer h6
{
    color: darkgoldenrod;
}
.bod
{
    padding-top: 5%;
}

.footer p
{
    color: white;
}

.copyright
{
    color: white;
}

/* Historique */
.textAlign {
    text-align: center;
}

.accueil {
    margin: 3em 0;
}

.invalide{
    font-weight: bold;
    color: red;
}

.btnForm1 {
    display:inline-block;
    padding:0.3em 1.2em;
    margin:1.5em 0 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:300;
    color:#FFFFFF;
    background-color:#191970;
    transition: all 0.2s;
}

@media (min-width: 619px) {
    .labelDroit {
        margin-top: 1em;
    }

    .infoOrdre {
        margin-top: 1em;
    }

    #filtre {
        margin-bottom: 126px;
    }
    
    table {
        margin-left: 4vw;
        margin-bottom: 13vh;
    }
    
    .th {
        border-right: #191970 solid 1px;
        text-align: center;
        padding: 10px;
    }
    
    .tableau {
        border-top: #191970 solid 1px;
        border-bottom: #191970 solid 1px;
        border-right: #191970 solid 1px;
        text-align: center;
        padding: 10px;
    }
}

@media (max-width : 618px) {
    .infoCommande {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .labelDroit {
        margin-top: 1.5em;
    }

    .saisieFiltre {
        width: 10em;
    }

    .infoOrdre {
        margin-top: 1.5em;
    }
}

